.navItem:hover {
  opacity: 0.7;
}
.navIcons a {
  display: inline-block;
  width: 40px;
  text-align: center;
  border: 2px solid var(--light-color);
  margin: 0 5px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.navIcons a::after {
  content: "";
  background-color: var(--light-color);
  width: 0;
  position: absolute;
  height: 0;
  top: 50%;
  left: 50%;
  transition: all ease-in 0.3s;
}
.navIcons a svg {
  z-index: 1;
  position: relative;
}
.navIcons a:hover::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

li.contact-box {
  border: 1px solid var(--light-color);
  position: relative;
}
li.contact-box:after {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--light-color);
  transition: width ease-in 0.3s;
  z-index: -1;
}
li.contact-box:hover::after {
  width: 100%;
}
nav.nav-active li.contact-box:hover a {
  color: var(--light-color);
}

@media screen and (max-width: 768px) {
  .navIcons a,
  .navIcons svg {
    color: var(--primary-color);
  }

  nav.nav-active .navIcons a svg {
    color: var(--light-color);
  }

  .navIcons a:hover svg {
    color: var(--primary-color);
  }
  .contact-box {
    color: var(--light-color);
  }
  li.contact-box:hover a {
    color: var(--primary-color);
  }
}
